body{
	margin: 0;
	padding: 0;
    background: url('about.jpg');
	background-size: 100%;
}

.top_border{
	position: absolute;
	height: 90px;
	width: 100.4%;
	background: #f4b73a;
	margin: none;
	margin-left: -0.5em;
}

.top_border img{
	width: 120px;
	height: 70px;
	margin-top: 12px;
	margin-left: 34em;
}

.top_border button{
	position:  relative;
	text-align:center;
	top: -1.2em;
	left: 23em;
	font-size: 24px;
	color: #f4b73a;
	background-color: black;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: none;
}

.button-12{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 29em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-13{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 31em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-14{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 32.5em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}
