@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color:beige;
}

.top_border{
	position: absolute;
	height: 90px;
	width: 100.4%;
	background: #f4b73a;
	margin: none;
	margin-left: -0.5em;
}

.top_border img{
	width: 120px;
	height: 70px;
	margin-top: 12px;
	margin-left: 34em;
}

.top_border button{
	position:  relative;
	text-align:center;
	top: -1.2em;
	left: 23em;
	font-size: 24px;
	color: #f4b73a;
	background-color: black;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: none;
}

.button-12{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 29em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-13{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 31em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-14{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 32.5em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.container{
	position: absolute;
  	top: 53%;
  	left: 50%;
	width: 500px;
	height: 750px;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 10px;
	opacity: 1.5;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container p{
	font-family: 'Roboto', sans-serif;;
	color: black;
	position:  relative;
	font-size: 26px;
	font-weight: bold;
	margin-left: 2em;
    margin-top: 1.5em;
}

.inputs select{
	width: 250px;
	height: 37px;
	margin-left: 5em;
	background-color: white;
	color: black;
	font-size: 23px;
	cursor: pointer;
	margin-top: 1em;
	border-radius: 10px;
}

.number{
	position: relative;
	align-content: center;
	text-align: center;
	top: 40px;
}

.number input{
	border: none;
	border-bottom: 2px solid silver;
	font-size: 19px;
	width: 390px;
	margin-top: 0.3em;
	margin-bottom: 2.5em;
}

.number input:focus { 
    outline: none;
}

.number label{
	margin-left: -0.2em;
	font-size: 20px;
}

.number label1{
	color: gray;
	margin-left: 12.6em;
	opacity: 0.5;
}

.amount label{
	margin-left: 2.8em;
	font-size: 20px;
}

button:hover {
	opacity: 0.6;
 }

.button-1{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 9em;
	margin-top: 2em;
	background-color: white;
}

.button-2{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 0.5em;
	margin-top: 1em;
	background-color: white;
}

.button-3{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 0.5em;
	margin-top: 1em;
	background-color: white;
}

.button-4{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 9em;
	margin-top: 1em;
	background-color: white;
}

.button-5{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 0.5em;
	margin-top: 1em;
	background-color: white;
}

.button-6{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 0.5em;
	margin-top: 1em;
	background-color: white;
}

.button-7{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 9em;
	margin-top: 1em;
	background-color: white;
}

.button-8{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 0.5em;
	margin-top: 1em;
	background-color: white;
}

.button-9{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: 0.5em;
	margin-top: 1em;
	background-color: white;
}

.send_btn{
	position: relative;
	align-content: center;
	text-align: center;
	margin-top: 2em;
}

.send_btn label{
	color: gray;
	font-size: 14px;
}

.send_btn button{
	position:  relative;
	margin-top: 1em;
	text-align:center;
	font-size: 20px;
	color: black;
	background-color: #f4b73a;
	width: 180px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: none;
}