body{
	margin: 0;
	padding: 0;
	background-color:beige;
}

.top_border{
	position: absolute;
	height: 90px;
	width: 100.4%;
	background: #f4b73a;
	margin: none;
	margin-left: -0.5em;
}

.top_border img{
	width: 120px;
	height: 70px;
	margin-top: 12px;
	margin-left: 34em;
}

.top_border button{
	position:  relative;
	text-align:center;
	top: -1.2em;
	left: 23em;
	font-size: 24px;
	color: #f4b73a;
	background-color: black;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: none;
}

.button-12{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 29em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-13{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 31em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-14{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 32.5em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.container{
	position: absolute;
  	top: 54%;
  	left: 50%;
	width: 500px;
	height: 750px;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 10px;
	opacity: 1.5;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container img{
	height: 100px;
	width: 170px;
	margin-top: 2em;
	margin-left: 9.5em;
}

.container label{
	font-family: 'Roboto', sans-serif;
	color: black;
	position:  relative;
	font-size: 35px;
	margin-left: 3.5em;
	font-weight: bold;
}

.donation p{
	font-family: 'Roboto', sans-serif;
	color: black;
	position:  relative;
	font-size: 42px;
	top: -20px;
	margin-left: 1.7em;
	font-weight: bold;
}

.donation label{
	font-family: 'Roboto', sans-serif;
	color: black;
	position:  relative;
	font-size: 18px;
	margin-left: 0.6em;
	text-align: justify;
	top: -40px;
	margin-left: 4em;
	font-weight: 300;
}

.vertical-menu{
	border: none;
	margin-top: 1em;
    margin-left: 4.5em;
}

.vertical-menu select{
	border: none;
	border-bottom: 3px solid silver;
	font-size: 20px;
	width: 370px;
}

.dropdown select:hover, .dropdown select:focus{
	outline: none;
}

.amount{
	top: 10px;
	position: relative;
	align-content: center;
	text-align: center;
}

.amount p{
    font-size: 22px;
}

.amount input{
	border: none;
	border-bottom: 2px solid silver;
	font-size: 20px;
	width: 200px;
	text-align: right;
	margin-bottom: 0.2em;
}

.amount input::placeholder{
	text-align: right;
}

.amount input:focus { 
    outline: none;
}

.amount label2{
	color: gray;
    font-size: 16px;
}

button:hover {
	opacity: 0.6;
  }


.send_btn{
	position: relative;
	align-content: center;
	text-align: center;
	top: 80px;
}

.send_btn label{
	color: gray;
	font-size: 14px;
	font-weight: 200;
	margin-left: 1em;
}

.send_btn button{
	position:  relative;
	margin-top: 1em;
	margin-left: -0.1em;
	text-align:center;
	font-size: 20px;
	color: #f4b73a;
	background-color: black;
	width: 180px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: none;
}