body{
	margin: 0;
	padding: 0;
	background-color:beige;
}

.top_border{
	position: absolute;
	height: 90px;
	width: 100.4%;
	background: #f4b73a;
	margin: none;
	margin-left: -0.5em;
}

.top_border img{
	width: 120px;
	height: 70px;
	margin-top: 12px;
	margin-left: 34em;
}

.top_border button{
	position:  relative;
	text-align:center;
	top: -1.2em;
	left: 23em;
	font-size: 24px;
	color: #f4b73a;
	background-color: black;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: none;
}

.button-13{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 29em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-14{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 31em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}

.button-15{
	position: relative;
	text-align: center;
	top: 1.2em;
	left: 32.5em;
	font-size: 24px;
	color: black;
	background-color: #f4b73a;
	width: 120px;
	height: 40px;
	border-radius: 14px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: none;
}


.header p{
	font-family: 'Roboto', sans-serif;;
	position:  relative;
	top: 2em;
	font-size: 40px;
	text-align:center;
	color: black;
	font-weight: bold;
	margin-left: -1em;
}

button:hover {
  opacity: 0.8;
}

.button-1{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
    margin-top: 4.7em;
	margin-left: 40em;
	height: 150px;
	width: 180px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: black;
	font-family: 'Roboto', sans-serif;
}

.button-1 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}

.button-2{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-2 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-3{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-3 img{
	margin-bottom: 1.2em;
	width: 100px;
	height: 60px;
}


.button-4{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-4 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-5{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 40em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-5 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-6{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-6 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-7{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-7 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-8{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-8 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}

.button-9{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 40em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-9 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-10{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-10 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-11{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-11 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}


.button-12{
	background: white;
	color: black;
	border: none;
	border-radius: 14px;
	height: 150px;
	width: 180px;
	margin-left: 2em;
	margin-top: 4em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-12 img{
	margin-bottom: 1em;
	width: 100px;
	height: 60px;
}



